.section {
    margin-top:300px ;
    text-align: center;
    background-color:ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
 /* This ensures the section takes up the full height of the viewport */
    flex-direction: column;
  }
  
  .section h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2rem;
    margin-top:30px;
    margin-bottom: 40px;
  }
  
  .container {

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .item {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
  }
  .item h3{
    padding-top:30px ;
    padding-bottom:30px ;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold; 
  }
  
  .icon {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 10px;
  }
  .icon img {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Ensure it's the same as width for a perfect circle */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  .line-container {
    position: relative;
    width: 100%;
    margin: 20px 0;
  }
  
  .line {
    border-top: 2px solid royalblue;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  .number {
    position: absolute;
    top: -10px;
    background-color:orangered;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
  }
  
  .number-1 {
    left: 45%;
  }
  
  .number-2 {
    left: 50%;
    transform: translateX(-50%);
  }
  .number-3 {
    right: 45%;
  }
  .cta-buttonn {
    background-color:orangered;
    color: black;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius:5px;
    cursor: pointer;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;

  }
  .cta-buttonn:hover{
    background-color: gray;
    
  }
