.section-container1 {
  display: flex;

  background-color: #34a853; /* Couleur de fond verte */
  padding: 20px;
  color: #fff; /* Couleur du texte blanc */
}

.image-container1 img {
  width: 100%; /* Ajustez la largeur de l'image */
  max-width: 600px; /* Limitez la largeur maximale de l'image */
  height: auto;
  border-radius: 8px; /* Optionnel : coins arrondis */
}

.content-container1 {
  max-width: 500px; /* Limitez la largeur maximale du contenu */
  margin-left: 90px; /* Espace entre l'image et le contenu */
}

.content-container1 h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 60px;
}


.content-container1 p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.content-container1 button {
  background-color: #000; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
}

.content-container1 button:hover {
  background-color: #444; /* Couleur de fond du bouton au survol */
}
@media only screen and (max-width: 800px) {
  .image-container1 img {
  width: 100%; /* Ajustez la largeur de l'image */
  max-width: 600px; /* Limitez la largeur maximale de l'image */
  height: auto;
  border-radius: 8px; /* Optionnel : coins arrondis */
}
.section-container1 {
  display:block;
  background-color: #34a853; /* Couleur de fond verte */
  padding: 20px;
  color: #fff; /* Couleur du texte blanc */
}
.content-container1 h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
.content-container1 p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}
.content-container1 button {
  background-color: #000; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  margin-left: 65px;
}
}
